<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codeby - {% block title %}Онлайн курсы{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
</head>
<body>
    <main>
        {% block content %}
            <p>{{ message }}</p><br>

            <div class="course_container">
                <div class="course_preview" style="transform: none; box-shadow: none; border: none">
                    <p>
                        <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ course.get_absolute_url }}">
                            {{ course.title }}
                        </a>
                    </p>

                    {% with authors=course.authors.all %}
                        {% if authors|length == 1 %}
                            <p>Автор: {{ authors.0.get_full_name }}</p>
                        {% else %}
                            <p>Авторы:
                                {% for author in authors %}
                                    {{ author.get_full_name }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endwith %}

                    <p>Продолжительность: {{ course.duration }} месяцев/-a</p>
                    <p>Количество уроков: {{ course.count_lessons }}</p>
                    <p>{{ course.description }}</p>
                </div>
            </div>
        {% endblock %}
    </main>
</body>
</html>