{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="course_container">
        <div class="course_preview" style="transform: none; box-shadow: none; border: none">
            <p><a style="color:red" href="{% url 'delete' course.pk %}">Удалить</a></p>
            <p><a style="color:#3179d7" href="{% url 'update' course.pk %}">Редактировать</a></p>
            <p>{{ course.title }}</p>

            {% with authors=course.authors.all %}
                {% if authors|length == 1 %}
                    <p>Автор: {{ authors.0.get_full_name }}</p>
                {% else %}
                    <p>Авторы:
                        {% for author in authors %}
                            {{ author.get_full_name }}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endwith %}

            <p>Старт: {{ course.start_date }}</p>
            <p>Продолжительность: {{ course.duration }} месяцев/-a</p>
            <p>Количество уроков: {{ course.count_lessons }}</p>
            <p>{{ course.description }}</p>
            <p><span class="price">{{ course.price }} у.е.</span></p>
        </div>
        <div class="course_preview" style="margin-top: 1%; transform: none; box-shadow: none; border: none;">
            <p style="font-weight: bold">
                Список уроков:<span style="color: rgba(226,175,72,0.73)"> (Всего - {{ lessons.count }})</span>
            </p>
            {% for lesson in lessons %}
                <p style="font-weight: bold">{{ forloop.counter }}. {{ lesson.name }}</p>
                <p style="margin-left:23px">{{ lesson.preview }}</p>
            {% empty %}
                <p>Пока не добавлено ни одного урока.</p>
            {% endfor %}
            <form method="post" action="{% url 'enroll' course.pk %}">
                {% csrf_token %}
                <input class="single_input" type="submit" value="Записаться">
            </form>
        </div>
        <div class="reviews_header">
            <p>
                Отзывы
                <span style="font-size: .85em; margin-right: 30px">{{ reviews.count }}</span>
                <a href="{% url 'review' course.pk %}">Оставить отзыв</a>
            </p>
        </div>
        <div class="reviews_container">
            {% for review in reviews %}
                <div class="review">
                    {% if review.user.avatar %}
                        <img src="{{ review.user.avatar.url }}">
                    {% else %}
                        <img src="{% static 'avatar.png' %}">
                    {% endif %}
                    <p>{{ review.user.last_name }} {{ review.user.first_name }}</p>
                    <p>{{ review.content }}</p>

                </div>
            {% empty %}
                <p style="font-size: .7em">Отзывов пока нет. Ваша <a href="{% url 'review' course.pk %}">оценка</a> важна для нас!</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}