{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main_container">
        <div class="main_item">
            <form id="form_create" method="post">
                <h3>{% block form_name %}Отзыв о курсе{% endblock %}</h3>
                {% csrf_token %}
                <p>
                    <textarea name="content"
                              maxlength="250"
                              placeholder="Ваш отзыв..."
                              required autofocus>
                    </textarea>
                </p>
                <p><button type="submit">Оценить</button></p>
            </form>
        </div>
    </div>
{% endblock %}